.cancelProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}
.cancelProduct__info{
    padding-left: 20px;

}
 .cancelProduct__button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color:#a88734 #9c7e31 #c0a256 ;
}
.cancelProduct__image{
    object-fit: contain;
    width:210px;
    height: 210px;
}
.cancelProduct__rating{
    display: flex;
    
}
.cancelProduct__anchor{
    color:rgb(63, 63, 223);
    cursor: pointer;
}

.cancelProduct__title{
    font-size: 17px;
    font-weight: 700;
    
}